[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/home/arwagner/bin/generic/setwacom
Icon=input-tablet
Name=Intuos4
Comment=Setup Wacom Intuos4 tablet
NoDisplay=false
Name[en_US]=Intuos4
X-XFCE-Source=file:///home/arwagner/.local/share/applications/Intuos4.desktop
