#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=System;
Comment=Backup
Exec=/bin/bash -c /home/arwagner/bin/generic/Back2Jupiter
Icon=gnome-fs-server
Name=Backup to Jupiter
Terminal=true
Type=Application
X-AppInstall-Architectures=amd64,armel,armhf,i386,ia64,mips,mipsel,powerpc,s390,s390x,sparc
