[Desktop Entry]
X-AppInstall-Package=conky
Name=Conky System Monitor
Comment=Monitor for CPU, memory, disks, network...
Exec=conky
Icon=/home/arwagner/.icons/aw-gnome/scalable/apps/gkrellm.svg
Terminal=false
Type=Application
Categories=System;
X-AppInstall-Architectures=amd64,armel,armhf,i386,ia64,mips,mipsel,powerpc,s390,s390x,sparc
Hidden=false

