#!/usr/bin/env xdg-open
[Desktop Entry]
Name=GVFS root
Comment=Access gvfs mount points
Exec=bash -c "thunar /run/user/$UID/gvfs"
Icon=drive-harddisk-root
Terminal=false
Type=Application
Categories=System;
X-AppInstall-Architectures=amd64,armel,armhf,i386,ia64,mips,mipsel,powerpc,s390,s390x,sparc
Hidden=false

