#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=bash -c "$HOME/bin/java/MediathekViewer/MediathekView.sh"
Icon=/home/arwagner/bin/java/MediathekViewer/info/MediathekView.svg
Name=MediathekViewer 9
Comment=Download arte/ZDF/ARD... Mediathek
NoDisplay=false
Name[en_US]=MediathekViewer 9
