#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=bash -c "xrdb $HOME/.Xresources"
Icon=xterm
Name=XRDB
Comment=Load .Xresources
NoDisplay=false
Hidden=false
