[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/home/arwagner/GNUstep/Choices/Apps/Office/mapivi/AppRun %f
Icon=camera-photo
Name=mapivi
Comment=Mapivi Photo Database
NoDisplay=false
Name[en_US]=mapivi
X-XFCE-Source=file:///home/arwagner/.local/share/applications/mapivi.desktop
Path=
Terminal=false
StartupNotify=false
